{{template "layout" .}}
{{define "content"}}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      服务管理
      <small>service manage</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="/admin/index"><i class="fa fa-dashboard"></i> Home</a></li>
      <li class="active">服务管理</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">服务管理</h3>
            <div class="btn-group pull-right" style="margin-right: 10px">
              <a href="/admin/add_tcp/" class="btn btn-sm btn-success">
                <i class="fa fa-save"></i>&nbsp;&nbsp;新增tcp服务
              </a>
            </div>
            <div class="btn-group pull-right" style="margin-right: 10px">
              <a href="/admin/add_http/" class="btn btn-sm btn-success">
                <i class="fa fa-save"></i>&nbsp;&nbsp新增http服务
              </a>
            </div>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>服务名称</th>
                <th>服务描述</th>
                <th>服务地址</th>
                <th>QPS</th>
                <th>QPD</th>
                <th>NODE</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              {{range .}}
                <tr>
                  <td>
                    <a href="/admin/service_detail?module_name={{.Module.Base.Name}}">{{.Module.Base.Name}}</a>
                  </td>
                  <td>{{.Module.Base.ServiceName}}</td>
                  <td>{{$module := .}}
                    {{if eq .Module.Base.LoadType "http" }}
                      {{range .Module.MatchRule}}
                        http://{{$module.ClusterIP}}{{$module.HTTPAddr}}{{.Rule}}
                        <br/>
                      {{ end }}
                    {{else}}
                      tcp://{{$module.ClusterIP}}{{.Module.Base.FrontendAddr}}
                    {{end}}</td>
                  <td>{{if ge .QPS 1}}{{.QPS}}{{ else }}-{{ end }}</td>
                  <td>{{if eq .DayRequest ""}}-{{ else }}{{.DayRequest}}{{ end }}</td>
                  <td>{{.AvaliableIPCount}}/{{.ModuleIPCount}}</td>
                  <td>
                    <button type="button" class="btn btn-xs btn-danger waves-effect m-b-4" onclick='location.href="/admin/service_detail?module_name={{.Module.Base.Name}}"' value="流量统计">流量统计</button>
                    <button type="button" class="btn btn-xs btn-danger waves-effect m-b-4" onclick='location.href="/admin/edit_service?module_name={{.Module.Base.Name}}"' value="修改">修改</button>
                    <button type="button" class="btn btn-xs btn-danger waves-effect m-b-4" onclick='if (confirm("确认要删除吗？")){location.href="/admin/delete?module_name={{.Module.Base.Name}}"};' value="删除">删除</button>
                  </td>
                </tr>
              {{ end }}
              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
{{end}}
{{define "script"}}
<!-- page script -->
<script>
  $(function () {
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : false,
      'info'        : false,
      'autoWidth'   : false
    })
  })
</script>
{{end}}